/* CSS HEX */
--light-wisteria: #cfa0d2;
--prim: #f4eaf3;
--peach-yellow: #fbdbac;
--melrose: #a9b4fb;
--cherub: #f0b4ee;
--corvette: #fad39c;
--hawkes-blue: #d3e1fb;
--eminence: #5d307c;
--dull-lavender: #9196e5;
